div{
	font-family: "URW Chancery L", cursive;
}

.info{
    font-size: 20px;
}

#bookmark, #buyNow{
    width: 40%
    font-family: Karla, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#bookmark{
    background-color: inherit;
    border-color: black;
}
@media(min-width: 768px) {
	#bookmark,#buyNow {
		width: 20%; 
	}
}

