#back{
	border: 1px solid;
	width: 560px;
	margin-top: 5px;
	background-color: #ecf2f5;
}

.container{
	border: 1px solid;
	width: 450px;
	margin-top: auto;
	background-color: #ecf2f5;
}

.bg{
		background-color: #ecf2f5;
}

#website-name{
	color: blue;
	margin-top: 8px;
	margin-left: 265px;
	text-transform: uppercase;
	font-size: 20px;
}
