.dropdown{
	padding: 2px;
	width: 200px;
}

#category{
	border: 1px solid;
	background-color: #ecf2f5;
	margin-left: 2px;
	height: 230px;
}

#searchBox{
	margin-left: 20px;
	width: 700px;
}

#website-name{
	color: blue;
	margin-top: 8px;
	margin-left: 265px;
	text-transform: uppercase;
	font-size: 20px;
}

