<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="../includes/css/Login.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" onclick="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="navbar-brand" href="VisitorPage.html"><span class="glyphicon glyphicon-chevron-right"></span></a>
        <script>
          function goBack() {
              window.history.back();
          }
        </script>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="VisitorPage.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li id="website-name">Online book re-selling portal</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="RegistrationPage.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
<div class="container">
  <h1>LOGIN</h1>
  <form>
    Email Id:<br>
    <input type="Email" name="username"> <br><br>
    Password:<br>
    <input type="Password" name="password"> <br><br>
    
    <input type="submit" name="submit" style="margin-bottom: 10px;">
  </form>
</div>

</body>
</html>